# Path to Ableton Live beta.
#
# macOS example:
# EXTENSION_HOST_PATH=/Applications/Ableton Live 12 Beta.app
#
# Windows examples:
# EXTENSION_HOST_PATH=C:\ProgramData\Ableton\Live 12 Beta
# EXTENSION_HOST_PATH=C:\ProgramData\Ableton\Live 12 Beta\Program\Ableton Live.exe
#
# You can also point at an ExtensionHost directory or ExtensionHostNodeModule.node.
EXTENSION_HOST_PATH=/Applications/Ableton Live 12 Beta.app
